@model IEnumerable<MyASPCoreProject.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Daftar Student</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telp)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Nim">edit</a>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Nim">details</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Nim">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
